.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    background: silver;
    font-size: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.w-65 {
    width: 65%;
}

@media (max-width: 1024px) {
    .w-30 {
        width: 100%;
    }

    .hide-mobile {
        display: none;
    }
}