.container {
    display: flex;
    justify-content: space-between;
}

.box {
    height: 150px;
    background: silver;
    width: 30%;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        /*flex-wrap: wrap*/
    }
    
    .box {
        width: 100%;
        margin-bottom: 10px;
    }
}