.text-example {
    font-size: 32px;
}

@media (min-width: 320px) {
    .text-example {
        font-size: 24px;
    }
}

@media (min-width: 480px){
    .text-example {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .text-example {
        font-size: 16px;
    }
}