body, html {
    overflow-x: hidden;
}

.header {
    background-image: url('/images/bg.png');
    background-size: cover;
    background-position: bottom;
}

.pt-10 {
    padding-top: 10rem;
}

.pb-10 {
    padding-bottom: 10rem;
}

@media (max-width: 992px) {
    .ps-lg-10 {
        padding-left: 10rem !important;
    }
}