.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10rem; 
    gap: 0.7rem;
}

.box {
    background-position: center center;
    background-size: cover;
    display: flex;
    color: white;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.box:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url('/ex2items/task1/1.jpg');
}

.box:nth-child(2) {
    grid-column: 3/5;
    background-image: url('/ex2items/task1/2.jpg');
}

.box:nth-child(3) {
    grid-row: 2/4;
    background-image: url('/ex2items/task1/3.jpg');
    display: grid;
    gap: 0.3rem;
    grid-auto-rows: 6rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1rem;
}

.inner-box {
    background: rgba(255, 255, 255,0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(4) {
    grid-row: 2/4;
    background-image: url('/ex2items/task1/4.jpg');
}

.box:nth-child(5) {
    background-image: url('/ex2items/task1/5.jpg');
    flex-direction: column;
    padding: 0.5rem 0;
}

.inner-box-five:nth-child(1) {
    margin-bottom: 0.5rem;
}

.inner-box-five {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:nth-child(6) {
    background-image: url('/ex2items/task1/6.jpg');
}

.box:nth-child(7) {
    background-image: url('/ex2items/task1/7.jpg');
}

.box:nth-child(8) {
    background-image: url('/ex2items/task1/8.jpg');
}

.box:nth-child(9) {
    grid-column: 3/5;
    background-image: url('/ex2items/task1/9.jpg');
}