:root {
    --main-color: #3e1608;
}

.main-btn {
    background: var(--main-color);
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
}

.main-btn:hover {
    opacity: 0.7;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10rem;
    gap: 0 0.8rem;
}

.box {
    background-size: cover;
    background-position: center center;
}

.box:nth-child(1) {
    grid-row: 1/4;
    background-image: url('/ex2items/task3/g1.jpg');
}

.box:nth-child(2) {
    grid-row: 4;
    background: #3e1608;
}

.box:nth-child(3) {
    background: #3e1608;
}

.box:nth-child(4) {
    grid-row: 2/5;
    background-image: url('/ex2items/task3/g2.jpg');
}

.box:nth-child(5) {
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.box-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.box-text p {
    margin-top: 0.5rem;
}

